{%load static%}

<link rel="stylesheet" type="text/css" href="{%static 'css/cart.css' %}" />

<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2>Food Cart</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered m-0">
                <thead>
                  <tr>
                    <!-- Set columns width -->
                    <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                    <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                    <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                  </tr>
                </thead>
                <tbody>
                    
                    {% with total=0 %}
                    {% for item in data %}
                      {% with item_total=item.1|cut:"$"|floatformat:2 %}
                        <tr>
                          <td class="p-4">
                            <div class="media align-items-center">
                              <div class="media-body">
                                <small>
                                  <span class="name">{{ item.0 }}</span> 
                                </small>
                              </div>
                            </div>
                          </td>
                          <td class="price">{{ item.1 }}</td>
                          <td class="align-middle p-4"><input type="number" class="quantity" value="{{item.2}}"></td>
                          <td class="total-item"></td>
                          <td class="text-center align-middle px-0"><a href="/process-cart/{{item.0}}/{{user}}" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                        </tr>
                        {% with total=total|floatformat:2|add:item_total %}
                        {% endwith %}
                      {% endwith %}
                    {% endfor %}
                    <tr>
                      <td colspan="3" class="text-right"><strong>Total Price:</strong></td>
                      <td colspan="2"><div class="total"><strong>{{ "$"|add:total|floatformat:2 }}</strong></div></td>
                    </tr>
                  {% endwith %}
                  
                </tbody>
            </table>

            <form method='post' action='/{{user}}/order/'>
                {% csrf_token %}
                <input name = "data" type="text" style="display: none;" value="{{data}}"></input>
                <button type='submit'>Order</button>
            </form>
        
          </div>
      </div>
  </div>


  <script>
    const quantityInputs = document.querySelectorAll('.quantity');
    const totalTag = document.querySelector('.total');
  
    function updateTotals() {
      let overallTotal = 0;
      quantityInputs.forEach(quantityInput => {
        const price = parseFloat(quantityInput.parentNode.previousElementSibling.textContent.replace('$', ''));
        const quantity = parseInt(quantityInput.value);
        const itemTotalTag = quantityInput.parentNode.nextElementSibling;
        const itemTotal = price * quantity;
        itemTotalTag.textContent = '$' + itemTotal.toFixed(2);
        overallTotal += itemTotal;
      });
      totalTag.querySelector('strong').textContent = '$' + overallTotal.toFixed(2);
    }
  
    quantityInputs.forEach(quantityInput => {
      quantityInput.addEventListener('input', updateTotals);
    });
  
    updateTotals();
  </script>