{%load static%}

<link rel="stylesheet" type="text/css" href="{%static 'css/register.css' %}" />

<div class="login-page">
    <div class="form">
      <form class="register-form" method = "post">
        {% csrf_token %}
        <input name="name" type="text" placeholder="name"/>
        <input name="passwd" type="password" placeholder="password"/>
        <button type = "submit">create</button>
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
      </form>
    </div>
  </div>

